<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 main-text">
  	An Emory University and IBM collaboration. 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->