<% if(userId && (userId.id == trace.ownerId)){ %>
	<div class="row card">
		<div class="col-xs-12">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<span class="glyphicon glyphicon-cloud-upload"></span>
						<div class="progress">
							<div class="progress-bar" id="upload-bar" style="background-color: green;" role="progressbar">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<form ref='uploadForm'
					id='uploadForm'
					encType="multipart/form-data">
					<input type="file"  class="input-file" multiple="multiple" />
					<button type="submit" id="file-upload-btn" class="upload-btn">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="row card">
		<p class="title-text" id="metric-status">No Metric Calculation in Progress.</p>
		<div class="progress position-relative metric-progress-container" style="height: 30px; text-align: center;">
			<div class="progress-bar" role="progressbar" id="metric-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div>
<% } %>