<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Skeletor</title>
  </head>

  <body>
    <%- include("shared/navbar", { login: userId }) %>
    <div class="container">
      <div class="row landing-message-container card">
        <div class="landing-message-item">
          <div class="landing-message-text">
            <p class="homepage-content">

              Welcome to Skeletor!<br /><br />

              This website is an online repository of I/O traces and a metric extraction tool. Users can upload traces and the tool automatically calculates and visualizes a set of important I/O metrics. One can mark traces as publicly or privately accessible. <br /><br />

              To view the list of publicly available traces, click <a href="/traces"> here</a>. <br /><br />

              To view the list of metrics that the tool can extract, click <a href="/metrics"> here</a>. <br /><br />

              To upload a trace, click <a href="/traces"> here</a>. Once you create a trace entry providing the name and description for it, you will be given an option to upload one or multiple files that belong to this trace. Once the files are uploaded, metric calculation will begin automatically (or it will get queued depending on the utilization of the available compute resources). The page updates automatically every time a new metric is calculated. You can also revisit the trace page later when all metrics are calculated.<br /><br />

              To see the list of all traces that you have uploaded, sign in and click <a href="/profile"> here</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("shared/footer") %>
  </body>

</html>
