<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Skeletor</title>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>

  <body>
    <%- include("shared/navbar", { login: userId }) %>
    <div class="container">
      <div class="row card">
        <p class="title-text">Metrics</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="content-text">Operation Count</td>
              <td class="content-text">A count of file system operations.</td>
            </tr>
            <tr>
              <td class="content-text">Reuse Distance</td>
              <td class="content-text">Reuse distance of block accesses.</td>
            </tr>
            <tr>
              <td class="content-text">Reuse Distance Metrics</td>
              <td class="content-text">Reuse distance metrics including the moments, entropy.</td>
            </tr>
            <tr>
              <td class="content-text">LRU Hit Rate Curve</td>
              <td class="content-text">Hit Rate Curve for LRU.</td>
            </tr>
            <tr>
              <td class="content-text">Fano Factor</td>
              <td class="content-text">A measure of burstiness.</td>
            </tr>
            <tr>
              <td class="content-text">Access Pattern</td>
              <td class="content-text">Random/Sequential block accesses.</td>
            </tr>
            <tr>
              <td class="content-text">Run Length</td>
              <td class="content-text">The average length of sequential accesses.</td>
            </tr>
            <tr>
              <td class="content-text">Jump Distance</td>
              <td class="content-text">The differnece in the address blocks between two consequetive I/O requests.</td>
            </tr>
            <tr>
              <td class="content-text">Scan Rate</td>
              <td class="content-text">The measure of how often a scan happens in the cache.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <%- include("shared/footer") %>
  </body>

</html>
