<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://d3js.org/d3.v4.min.js"></script> 
		<style type="text/css">
			.container {

			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12" id="display-container">
				</div>
			</div>
		</div>
	</body>
	<script src="/js/skeletor/lineChart.js"></script>
	<script src="/js/skeletor/dataBanner.js"></script>
	<script src="/js/skeletor/controller.js"></script>
</html>
