<!DOCTYPE html>
<html lang="en">
    <%- include("upload/header") %>
    <body>
        <%- include("shared/navbar", { login: userId }) %>
        <div class="container">
            <%- include("upload/banner.ejs", { userId: userId, trace: trace }) %>
            <div class="file-list-wrapper"></div>
            <div class="row card" id="chart-container">
                <div class="col-xs-12">
                    <div class="row" id="chart-main">
                        <svg id="svg1" width="1100" height="500"></svg>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
            <div class="row card" id="histogram-container">
                <div class="col-xs-12">
                    <div class="row" id="chart-main">
                        <svg id="svg2" width="1100" height="500"></svg>
                    </div>
                </div>
            </div>
            <div class="row card" id="write-histogram-container">
                <div class="col-xs-12">
                    <div class="row" id="chart-main">
                        <svg id="svg3" width="1100" height="500"></svg>
                    </div>
                </div>
=======
            <div class="row card" id="io-size-hist-container">
              <!-- <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select> -->
              <div class="col-xs-12">
                  <div class="row" id="write-histogram-main">
                      <svg id="svg2" width="1100" height="500" style="padding: 10px; margin: 10px"></svg>
                  </div>
              </div>
>>>>>>> 7c6daeae8f5f99e1ff891889a78123d652ebaa2f
            </div>
        </div>
        <%- include("shared/footer") %>
        <script src="/js/upload/index.js"></script>
        <script src="/js/trace_page/basic_graph_setup.js"></script>
        <script src="/js/upload/io_size_histogram.js"></script>
        <script src="/js/trace_page/graph.js"></script>
        <script src="/js/upload/histogram_write_size.js"></script>
    </body>
</html>
