@import url('https://fonts.googleapis.com/css?family=Chivo|Overpass');

footer {
	margin-top: 50px;
	padding: 20px;
	background: #9099a2
}

.card {
	border: 2px solid #6d7993;
	padding: 10px;
	margin-top: 10px;
}

.title-text {
	font-family: 'Chivo', sans-serif;
	font-size: 2.2em;
	font-weight: bold;	
}

.main-text {
	font-family: 'Chivo', sans-serif;
	font-size: 1.3em;
}

.content-text {
	font-family: 'Overpass', sans-serif;
	font-size: 1.1em;
}

.footer-copyright {
	font-weight: bold;
}

.website-name-text {
	font-weight: bold;
}

.homepage-content {
	font-family: 'Overpass', sans-serif;
	font-size: 1.3em;
}

nav {
	background: #d5d5d5;
}

/* to make sure a tags show clickable pointer */
a,
a label {
    cursor: pointer;
}