<!DOCTYPE html>
<html lang="en">
	<%- include("header") %>
	<body>
		<%- include("../shared/navbar", { login: userId }) %>
		<div class="container">
			<%- include("banner.ejs", { userId: userId, trace: trace }) %>
			<div class="row card" id="progressBarContainer"></div>
			<div id="graphContainer"></div>
		</div>
		<script src="/js/trace_profile/render_graph.js"></script>
		<script src="/js/trace_profile/init.js"></script>
		<script src="/js/trace_profile/uploader.js"></script>
		<script src="/js/trace_profile/ui.js"></script>
		<script src="/js/trace_profile/socket.js"></script>
	    <%- include("../shared/footer") %>
	</body>
</html>